body {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.notes {
  z-index: 10;
}

.bubble-container {
  z-index: 5;
  position: fixed;
  transform: translate(0, 0);
}

.bubble {
  opacity: 0;
  pointer-events: none;
  border-radius: 50%;
  border: 1.5px solid rgba(0,0,0,0.25);
  width: 20px;
  aspect-ratio: 1;
  transform: translate(0, 0);
}

.color-bubble {
  border-radius: 50%;
  border: 1.5px solid rgba(0,0,0,0.25);
  width: 20px;
  aspect-ratio: 1;
}

.side-menu {
  border-right: 2px solid rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 15px;
  gap: 15px;
  user-select: none;
}

.test {
  margin-top: 300px;
  cursor: pointer;
}

.side-menu .MuiButton-root {
  min-width: 0;
  aspect-ratio: 1;
  width: 40px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
